.toDoForm {
  margin-top: 5%;
  height: 56px;
  box-shadow: 5px 5px 20px rgb(36, 155, 173);
  border-radius: 5px;
  background-color: rgb(183, 245, 255);
}

.toDoForm__input {
  border: 2px solid rgb(183, 245, 255);
  border-radius: inherit;
  flex: 1;
  height: 100%;
  font-size: 18px;
  padding-left: 2%;
}
.toDoForm__input:focus-visible {
  border: 2px solid rgb(148, 195, 202);
  outline: none;
}
.toDoForm__input:focus {
  border: 2px solid rgb(148, 195, 202);
  outline: none;
}
.toDoForm__button {
  height: 100%;
  aspect-ratio: 1 / 1;
}

.toDoForm__button:hover {
  background-color: rgb(174, 230, 239);
}
.toDoForm__button:focus-visible {
  background-color: rgb(174, 230, 239);
  outline: none;
}
.toDoForm__button:active {
  background-color: rgb(169, 222, 230);
}
