.mainBlock {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.textBlock {
  box-sizing: content-box;
  margin-left: 80px;
  margin-top: 100px;
}
.textHeader {
  position: relative;
  white-space: nowrap;
  margin-bottom: 48px;
}

.textBlock__p {
  display: block;
  width: 400px;
  margin-bottom: 78px;
}
.imgContainer {
  width: 50%;
  min-width: 704px;
  margin: 0 5%;
  margin-top: 100px;
}
.imgContainer__img {
  position: relative;
  z-index: -1;
  width: 100%;
  height: auto;
  object-fit: contain;
}
