.headerNavigation__links_font_18 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.textHeader_font_48 {
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-weight: 400;
}

.textBlock__p_font_16 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: grey;
}
